.banner{
background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(../../images/londre.jpg);
color:white;
padding: 140px 0px;
background-size: cover;
background-position: center;
}

.banner h1{
	font-size: 50px;
	padding-bottom: 50px;
	opacity: 20;
	font-weight: bold;
}

.banner h2{
	font-size: 30px;
	font-weight:lighter;
	opacity: 200;
	margin-bottom: 40px;
}

